TestServices/Service References/PostServiceClient/v11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6447/PostServices/v1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SakhrBlogServices.DataContracts" />
  <xs:element name="GetPostForUserOnDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SakhrBlogServices.DataContracts" minOccurs="0" name="date" nillable="true" type="q1:DateInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostForUserOnDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SakhrBlogServices.DataContracts" minOccurs="0" name="GetPostForUserOnDateResult" nillable="true" type="q2:PostList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>