TestServices/Service References/PostServiceClient/v13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SakhrBlogServices.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SakhrBlogServices.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6447/PostServices/v1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SakhrBlog.Models" />
  <xs:complexType name="DateInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="Month" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DateInput" nillable="true" type="tns:DateInput" />
  <xs:complexType name="PostList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMsg" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SakhrBlog.Models" minOccurs="0" name="UserPosts" nillable="true" type="q1:ArrayOfPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostList" nillable="true" type="tns:PostList" />
</xs:schema>